@import 'styles-variables';


:host {
}

.button-row {
  & button{  
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.body {
  max-width: 1200px;
  margin: 10px auto 0 auto;
  padding-bottom: 10px;
  font-size: 0.9em;
  letter-spacing: .01px;
  overflow-wrap: break-word;
  z-index: 1;
}

.searchField{
  margin-bottom: 10px;
}

.board{
  min-width: 150px;
}

.tidy-table{
  max-width: 600px !important;
}