<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <mat-spinner class="loading" class="center-spinner" *ngIf="loading===true"></mat-spinner>
      <div [ngClass]="animateOnRouteEnter" style="text-align:left">

        <ng-container *ngIf="data!=null">
          <h2>
            <i *ngIf="data.pve==true && data.pveSuccess==false" class="warn-text fa fa-times" aria-hidden="true"></i>
            <i *ngIf="data.pve==true && data.pveSuccess==true" class="accent-text fa fa-check" aria-hidden="true"></i>
            PGCR: {{data.mode}} - {{data.name}}
            <ng-container *ngIf="data.level>0"> Lvl {{data.level}}</ng-container>
            <ng-container *ngIf="data.isPrivate"> (Private)</ng-container>
          </h2>
          <p>
            Start: {{data.period|date:'short'}} &emsp; Finish: {{data.finish|date:'short'}} &emsp; Duration: {{ data.activityDurationSeconds
            | amnsTiming:'seconds' }}</p>
          <mat-card class="card" *ngIf="data.teams!=null && data.teams.length>0">
            <mat-card-content>
              <p>
                <span *ngFor="let t of data.teams">
                  <b>{{t.name}} {{t.standing}} {{t.score}}</b>&emsp;
                </span>
              </p>
            </mat-card-content>
          </mat-card>

          <mat-card class="card" *ngFor="let entry of data.entries">

            <mat-card-header>
              <div *ngIf="entry.user.icon!=null" class="icon" mat-card-avatar [style.background-image]="'url(//www.bungie.net' + entry.user.icon + ')'"></div>
              <mat-card-title>

                <b>
                  <a [routerLink]="['/'+entry.user.membershipType, entry.user.displayName]" color="accent">{{entry.user.displayName}}
                  </a>
                </b>
                {{entry.characterClass}} {{entry.lightLevel}}
                <span class="kd accent-text">{{entry.kd| number : '1.2-2'}} KD
                  <br>
                </span> {{entry.team}}
                <div>
                  <span class="warn-text" *ngIf="entry.team!=null">Team {{entry.team}}</span>
                  <span *ngIf="entry.team==null">&nbsp;</span>
                  <span class="fireteamsize">Fireteam Size: {{entry.fireteamSize}}</span>
                </div>
              </mat-card-title>
              <mat-card-subtitle>
                <span class="mat-chip stat-val" *ngIf="entry.score!=null && entry.score>0">Score: {{entry.score}}</span>
                <span class="mat-chip stat-val" *ngIf="entry.kills!=null">Kills: {{entry.kills}}</span>
                <span class="mat-chip stat-val" *ngIf="entry.assists!=null">Deaths: {{entry.deaths}}</span>
                <span class="mat-chip stat-val" *ngIf="entry.assists!=null">Assists: {{entry.assists}}</span>
                <span class="mat-chip stat-val" *ngIf="entry.fireteam!=null">Fireteam: {{entry.fireteam}}</span>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Kills</th>
                    <th>Prec %</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let w of entry.weapons">
                    <td>{{w.name}}</td>
                    <td>{{w.type}}</td>
                    <td>{{w.kills}}</td>
                    <td>{{w.precPct|percent:'1.0-0'}}</td>
                  </tr>

                </tbody>
              </table>
            </mat-card-content>
          </mat-card>



        </ng-container>
      </div>
    </div>
    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>
  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>