<div class="childComponent">
  <div class="childVert">
    <div class="main">
        <mat-spinner class="loading" class="center-spinner" *ngIf="loading===true"></mat-spinner>
      <h1>Search Bungie</h1>
      <div class="note centerMe"><small>Wild-card search Bungie accounts by name. Note that sometimes these are different than gamertags. 
        Not all Destiny accounts are active or in clans, so some links will strike themselves out when clicked.</small>
        </div>

      <div>

        <mat-form-field class="searchField">
          <input matInput placeholder="Bungie name" [(ngModel)]="name" (keyup.enter)="search()">
        </mat-form-field>
        &emsp;
        <button mat-mini-fab color="primary searchField" (click)="search()" color="primary"><mat-icon>search</mat-icon></button>
      </div>

      <table class="responsive-table" *ngIf="accounts!=null && accounts.length>0">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Xbox</th>
            <th scope="col">PSN</th>
            <th scope="col">BNET</th>
            <th scope="col">Clan</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts">
            <td class="lead" data-label="Name">{{account.name}}</td>
            <td data-label="Xbox">
              <ng-container *ngIf="account.xbl!=null">
                <a href="javascript:void(0)" *ngIf="!account.xbl.defunct" (click)="loadPlayer(account.xbl)">{{account.xbl.name}}</a>
                <span class="strikethrough" *ngIf="account.xbl.defunct">{{account.xbl.name}}</span>
              </ng-container>
              <ng-container *ngIf="account.xbl==null">&nbsp;</ng-container>
            </td>
            <td data-label="Playstation">
              <ng-container *ngIf="account.psn!=null">
                <a href="javascript:void(0)" *ngIf="!account.psn.defunct"  (click)="loadPlayer(account.psn)">{{account.psn.name}}</a>
                <span class="strikethrough" *ngIf="account.psn.defunct">{{account.psn.name}}</span>
              </ng-container>
              <ng-container *ngIf="account.psn==null">&nbsp;</ng-container>
            </td>
            <td data-label="BNet">
              <ng-container *ngIf="account.bnet!=null">
                <a href="javascript:void(0)" *ngIf="!account.bnet.defunct"  (click)="loadPlayer(account.bnet)">{{account.bnet.name}}</a>
                <span class="strikethrough" *ngIf="account.bnet.defunct">{{account.bnet.name}}</span>
              </ng-container>
              <ng-container *ngIf="account.bnet==null">&nbsp;</ng-container>
            </td>
            <td data-label="Clan">
              
                <a href="javascript:void(0)" *ngIf="!account.noClan && account.clans==null"  (click)="loadClan(account)">Clan</a>
                <span class="strikethrough" *ngIf="account.noClan">Clan</span>
                <ng-container *ngIf="account.clans!=null">
                  <div *ngFor="let clan of account.clans">
                      <a [routerLink]="['/clan', clan.id]">{{clan.name}}</a>
                  </div>
                </ng-container>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>

  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>

</div>