<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <mat-spinner class="loading" class="center-spinner" *ngIf="loading===true"></mat-spinner>
      <div class="body clan-body">

        <ng-container *ngIf="info==null">
          <h2>Loading clan info. This could take a while if your clan is large...</h2>
        </ng-container>

        <ng-container *ngIf="info!=null">
          <h1>{{info.name}} </h1>
          <div class="button-row">
           
            <!--<button mat-raised-button (click)="router.navigate(['clan', id, 'leaderboard'])">Leaderboards</button>
            <button mat-raised-button>Aggregate Stats (soon)</button>-->
          </div>

          <mat-card *ngIf="modelPlayer!=null" class="clanMsRow clan-card">
            <h2 class="d-none d-md-block">Weekly Clan Bounties</h2>

            <span class="clanMs" *ngIf="modelPlayer.characters[0].clanMilestones.nightfall==true">
              Nightfall
              <i class="accent-text mat-option.mat-selected fa fa-check-square-o"></i>
            </span>
            <span class="clanMs" *ngIf="modelPlayer.characters[0].clanMilestones.nightfall==false">
              Nightfall
              <i class="fa fa-square-o"></i>
            </span>
            <span class="clanMs" *ngIf="modelPlayer.characters[0].clanMilestones.raid==true">
              Raid
              <i class="accent-text mat-option.mat-selected fa fa-check-square-o"></i>
            </span>
            <span class="clanMs" *ngIf="modelPlayer.characters[0].clanMilestones.raid==false">
              Raid
              <i class="fa fa-square-o"></i>
            </span>
            <span class="clanMs" *ngIf="modelPlayer.characters[0].clanMilestones.crucible==true">
              Crucible
              <i class="accent-text mat-option.mat-selected fa fa-check-square-o"></i>
            </span>
            <span class="clanMs" *ngIf="modelPlayer.characters[0].clanMilestones.crucible==false">
              Crucible
              <i class="fa fa-square-o"></i>
            </span>
            <span class="clanMs" *ngIf="modelPlayer.characters[0].clanMilestones.trials==true">
              Trials
              <i class="accent-text mat-option.mat-selected fa fa-check-square-o"></i>
            </span>
            <span class="clanMs" *ngIf="modelPlayer.characters[0].clanMilestones.trials==false">
              Trials
              <i class="fa fa-square-o"></i>
            </span>
          </mat-card>

          <ng-container *ngIf="info.progressions!=null">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Clan Progress
                </mat-panel-title>
                <mat-panel-description class="d-none d-md-block">
                  Created: {{info.creationDate|date:'short'}} &emsp; {{info.memberCount}} members
                </mat-panel-description>
              </mat-expansion-panel-header>
              <br>
              <mat-card class="clan-card" *ngFor="let faction of info.progressions">

                <mat-card-header>

                  <mat-card-title>{{faction.name}} &ensp; Level {{faction.level}} - {{faction.percentToNextLevel|percent:'1.0-0'}} to level {{faction.level+1}}
                    &emsp; Remaining XP to get this week:
                    <b>{{(faction.weeklyLimit - faction.weeklyProgress)|number}}</b>
                  </mat-card-title>
                  <mat-card-subtitle>{{faction.desc}}
                  </mat-card-subtitle>
                </mat-card-header>
                <div>
                  <mat-progress-bar mode="determinate" [value]="faction.percentToNextLevel*100">
                  </mat-progress-bar>
                </div>
              </mat-card>
            </mat-expansion-panel>
          </ng-container>

          <br>

          <div class="filter-row">
            <mat-form-field *ngIf="modelPlayer!=null">
              <mat-select [(ngModel)]="filterMode" (selectionChange)="filterPlayers()" placeholder="Filter players by activity">
                <mat-option value="none">Show All Players</mat-option>
                <mat-option value="zero">Show only zero completions</mat-option>
                <mat-option value="all">Show completely done</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="modelPlayer!=null && filterMode!='none'">
              <mat-select [(ngModel)]="filterActivity" (selectionChange)="filterPlayers()" placeholder="Activity">
                <mat-option *ngFor="let mileStoneName of modelPlayer.milestoneList" [value]="mileStoneName">{{ mileStoneName.name }}</mat-option>
              </mat-select>
            </mat-form-field>
            <span class="filter-count">{{sortedMembers.length}} / {{members.length}}</span>
            <button class="d-none d-md-inline" mat-button [disabled]="!allLoaded" (click)="downloadCsvReport()"> 
                <i [hidden]="allLoaded" class="fa fa-spinner fa-pulse fa-fw"></i>
                <i class="fa fa-download" aria-hidden="true"></i> CSV</button>
          </div>

          <div class="mobile-button-row">
            <button mat-button (click)="toggleMemberSort()">Sort Name
              <i *ngIf="sort=='memberDesc'" class="fa fa-sort-desc"></i>
              <i *ngIf="sort=='memberAsc'" class="fa fa-sort-asc"></i>
            </button>
            <button mat-button (click)="toggleDateSort()">Sort Last Played
              <i *ngIf="sort=='dateDesc'" class="fa fa-sort-desc"></i>
              <i *ngIf="sort=='dateAsc'" class="fa fa-sort-asc"></i>
            </button>
            <button mat-button [disabled]="!allLoaded" (click)="downloadCsvReport()"> 
                <i [hidden]="allLoaded" class="fa fa-spinner fa-pulse fa-fw"></i>
                <i class="fa fa-download" aria-hidden="true"></i> CSV</button>
          </div>

          <table class="responsive-table clan-table" *ngIf="this.sortedMembers!=null && this.modelPlayer!=null">
            <thead>
              <tr>
                <th>
                  <a href="javascript:void(0)" (click)="toggleMemberSort()">Member
                    <i *ngIf="sort=='memberDesc'" class="fa fa-sort-desc"></i>
                    <i *ngIf="sort=='memberAsc'" class="fa fa-sort-asc"></i>
                  </a>
                </th>
                <th>
                  <a href="javascript:void(0)" (click)="toggleDateSort()">Last Played
                    <i *ngIf="sort=='dateDesc'" class="fa fa-sort-desc"></i>
                    <i *ngIf="sort=='dateAsc'" class="fa fa-sort-asc"></i>
                  </a>
                </th>
                <ng-container *ngIf="modelPlayer!=null">
                  <th [matTooltip]="mileStoneName.desc" *ngFor="let mileStoneName of modelPlayer.milestoneList">
                    {{mileStoneName.name}}
                    <span *ngIf="debugmode">{{mileStoneName.key}}</span>

                  </th>
                  <th matTooltip="Max LL of current chars (actual max could be higher)">
                      <a href="javascript:void(0)" (click)="toggleLLSort()">Max LL
                          <i *ngIf="sort=='llDesc'" class="fa fa-sort-desc"></i>
                          <i *ngIf="sort=='llAsc'" class="fa fa-sort-asc"></i>
                        </a>
                  </th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of sortedMembers">
                <td class="lead">
                  <a *ngIf="member.destinyUserInfo.membershipType!=4" [routerLink]="['/',member.destinyUserInfo.membershipType, member.destinyUserInfo.displayName]">
                    {{member.destinyUserInfo.displayName}} {{member.destinyUserInfo.platformName}}
                  </a>
                  <a *ngIf="member.destinyUserInfo.membershipType==4" href="javascript:void(0)" 
                    (click)="navigateBnetMember(member)">
                      {{member.destinyUserInfo.displayName}} {{member.destinyUserInfo.platformName}}
                  </a>
                  <a *ngIf="member.player==null" href="javascript:void(0)" (click)="loadSpecificPlayer(member)">
                    <i class="fa fa-refresh"></i>
                  </a>
                </td>
                <td *ngIf="member.player==null">N/A</td>
                
                <ng-container *ngIf="member.player!=null">
                  <td>
                    <ng-container *ngIf="!member.player.superprivate">
                      {{today| amDifference:member.player.profile.dateLastPlayed | amDuration:'ms'}} ago
                    </ng-container>
                  </td>
                  <td *ngIf="member.player.characters!=null && member.player.characters.length>0 && member.player.characters[0].milestones==null"
                    [attr.colspan]="modelPlayer.milestoneList.length">
                    Blocked by privacy settings
                  </td>
                  <ng-container *ngIf="member.player.characters!=null && member.player.characters.length>0 && member.player.characters[0].milestones!=null && modelPlayer!=null">
                    <td *ngFor="let mileStoneName of modelPlayer.milestoneList" [attr.data-label]="mileStoneName.name">
                      <ng-container *ngFor="let char of member.player.characters">
                        <span class="check" *ngIf="char.milestones[mileStoneName.key]!=null">
                          <ng-container *ngIf="char.milestones[mileStoneName.key].complete==true">
                            <i class="accent-text mat-option.mat-selected fa fa-check-square-o"></i>
                          </ng-container>
                          <ng-container *ngIf="char.milestones[mileStoneName.key].complete==false && char.milestones[mileStoneName.key].pct==0">
                            <i class="fa fa-square-o"></i>
                          </ng-container>
                          <ng-container *ngIf="char.milestones[mileStoneName.key].pct>0 && char.milestones[mileStoneName.key].pct<1">
                            <i [matTooltip]="char.milestones[mileStoneName.key].info" class="accent-text fa fa-minus-square-o"></i>
                          </ng-container>
                        </span>
                        <span class="check" *ngIf="char.milestones[mileStoneName.key]==null">
                          <i class="accent-text mat-option.mat-selected fa fa-check-square-o"></i>
                        </span>
                      </ng-container> 
                    </td>
                    <td data-label="Max Current Light Level">
                      <ng-container *ngIf="member.player.maxLL">{{member.player.maxLL}}</ng-container>
                    </td>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="member.player==null && member.errorMsg==null && modelPlayer!=null">
                  <td *ngFor="let mileStoneName of modelPlayer.milestoneList">...</td>
                  <td>...</td>
                </ng-container>
                <ng-container *ngIf="member.errorMsg!=null && modelPlayer!=null">
                  <td [attr.colspan]="modelPlayer.milestoneList.length+1">
                    {{member.errorMsg}}
                  </td>
                </ng-container>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>
                  <a href="javascript:void(0)" (click)="toggleMemberSort()">Member
                    <i *ngIf="sort=='memberDesc'" class="fa fa-sort-desc"></i>
                    <i *ngIf="sort=='memberAsc'" class="fa fa-sort-asc"></i>
                  </a>
                </th>
                <th>
                  <a href="javascript:void(0)" (click)="toggleDateSort()">Last Played
                    <i *ngIf="sort=='dateDesc'" class="fa fa-sort-desc"></i>
                    <i *ngIf="sort=='dateAsc'" class="fa fa-sort-asc"></i>
                  </a>
                </th>
                <ng-container *ngIf="modelPlayer!=null">
                  <th [matTooltip]="mileStoneName.desc" *ngFor="let mileStoneName of modelPlayer.milestoneList">
                    {{mileStoneName.name}}
                  </th>
                  <th matTooltip="Max LL of current chars (actual max could be higher)">
                      <a href="javascript:void(0)" (click)="toggleLLSort()">Max LL
                          <i *ngIf="sort=='llDesc'" class="fa fa-sort-desc"></i>
                          <i *ngIf="sort=='llAsc'" class="fa fa-sort-asc"></i>
                        </a>
                  </th>
                </ng-container>
              </tr>
            </tfoot>
          </table>
          <p>Note: The Bungie API will sometimes incorrectly report milestones as complete (or partially complete). If you're a clan leader trying to see when someone last played, trust the "Last Played" column even if some weekly milestones appear to be completed.</p>
        </ng-container>

      </div>
    </div>
    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>
  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>