<div class="childComponent">
  <div class="childVert">
    <div class="main">


      <mat-spinner class="loading" class="center-spinner" *ngIf="loading===true"></mat-spinner>
      <div class="body-text" [ngClass]="animateOnRouteEnter">
        <h2 class="centerMe">Activity History - 
          <a [routerLink]="['/',this.player.profile.userInfo.membershipType, this.player.profile.userInfo.displayName]" *ngIf="player!=null">{{player.profile.userInfo.displayName}}</a>
        </h2>
        <div *ngIf="player!=null && player.characters!=null" class="button-row">
          <a mat-raised-button *ngFor="let c of player.characters" 
            [color]="c.characterId==characterId?'accent':'default'" 
            [routerLink]="['/history',this.membershipType, this.membershipId, c.characterId]">{{c.className}} - {{c.light}}</a>
        </div>
        <br/>
        <div class="centerMe">
          <mat-form-field class="searchField">
            <mat-select  [(ngModel)]="selectedMode" (selectionChange)="history()" placeholder="Mode">
              <mat-option *ngFor="let p of activityModes" [value]="p">
                {{ p.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="searchField">
            <mat-select  [(ngModel)]="selectedMaxResults" (selectionChange)="history()" placeholder="Max Results">
              <mat-option *ngFor="let p of maxResults" [value]="p">
                {{ p }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button title="Activity History" color="primary" (click)="history()">
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <div class="table-container">

          <mat-table class="centerMe" #table [dataSource]="dataSource" matSort>

            <ng-container cdkColumnDef="period">
              <mat-header-cell *cdkHeaderCellDef mat-sort-header>Date</mat-header-cell>
              <mat-cell *cdkCellDef="let row">
                <a color="primary" [routerLink]="['/pgcr', row.instanceId]">
                  {{row.period|date:'short'}}
                </a>
              </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="mode">
              <mat-header-cell *cdkHeaderCellDef mat-sort-header>Mode</mat-header-cell>
              <mat-cell *cdkCellDef="let row">
                {{row.mode}}
                <br>
              </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="name">
              <mat-header-cell *cdkHeaderCellDef mat-sort-header>Name</mat-header-cell>
              <mat-cell *cdkCellDef="let row">
                {{row.name}}
                <i class="fa fa-check" *ngIf="row.success"></i>
              </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="kd">
              <mat-header-cell *cdkHeaderCellDef mat-sort-header>KD</mat-header-cell>
              <mat-cell *cdkCellDef="let row">
                {{ row.kd | number:'1.2-2'}}
              </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="timePlayedSeconds">
              <mat-header-cell *cdkHeaderCellDef mat-sort-header>Duration</mat-header-cell>
              <mat-cell *cdkCellDef="let row">
                {{ row.timePlayedSeconds | amnsTiming:'seconds' }}
              </mat-cell>
            </ng-container>

            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator [length]="database.data.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>
      </div>








    </div>
    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>

  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>