<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <h1>Settings</h1>
      <br>
      <div>
        <mat-form-field class="col-md-4">
          <mat-select placeholder="Select theme" name="theme" [ngModel]="theme" (selectionChange)="onThemeSelect($event)">
            <mat-option *ngFor="let t of themes" [value]="t.value">
              {{t.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-select placeholder="Ad Options" name="disableads" [ngModel]="disableads" (selectionChange)="onDisableAdsSelect($event)">
            <mat-option *ngFor="let t of adChoices" [value]="t.value">
              {{t.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-select placeholder="Debug" name="debug" [ngModel]="debugmode" (selectionChange)="onDebugSelect($event)">
            <mat-option *ngFor="let t of debugChoices" [value]="t.value">
              {{t.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br>

      <p class="note" *ngIf="disableads===true">
        <mat-icon>block</mat-icon> You've disabled ads. If you end up finding this site or any of the other DestinyChecklist sites helpful, please consider
        making a donation with the link below. Or, if you're on PS4, use the link to pre-order Forsaken from Amazon (or buy something else), I'll get a small commission and it will cost you nothing else.
        <br>
        <a mat-raised-button class="space-right" color="accent" [ngClass]="animateOnRouteEnter" target="_blank" href="https://amzn.to/2tGons4">
          <i class="fa fa-amazon"></i> Order Forsaken
        </a>
        
        <a mat-raised-button class="space-right" color="accent" [ngClass]="animateOnRouteEnter" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VBASBDZD7HAHS">
          <i class="fa fa-paypal"></i> Donate
        </a>
      </p>
      <p class="note" *ngIf="debugmode===true">
        <mat-icon>bug_report</mat-icon> You've enabled debug mode. This might do nothing, or it might show extra information like hashes on certain items. 
        It will probably make your screen more cluttered and ugly, and may screw up mobile views. <mark>If you have any problems you should turn this back off.</mark>
      </p>
    </div>

    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>

  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7629384993" display="block"></ng-adsense>
  </div>

</div>