<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <mat-spinner class="loading" class="center-spinner" *ngIf="loading===true"></mat-spinner>
      <div class="body-text" [ngClass]="animateOnRouteEnter">
        <br/>
        <div class="centerMe">
          <mat-form-field class="searchField searchPlatform">
            <mat-select [(ngModel)]="selectedPlatform" placeholder="Platform" (selectionChange)="onPlatformChange()">
              <mat-option *ngFor="let p of platforms" [value]="p">
                {{ p.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="searchField searchGt" class="gt">
            <input matInput placeholder="Gamer tag" [(ngModel)]="gamerTag" (keyup.enter)="routeSearch()" (change)="onGtChange()">
          </mat-form-field>
          <button mat-mini-fab color="primary searchField" (click)="routeSearch()" color="primary">
            <mat-icon>search</mat-icon>
          </button>
        </div>


        <div class="preorder">
          <a mat-raised-button color="accent" [ngClass]="animateOnRouteEnter" target="_blank" href="https://amzn.to/2tGons4">
            <i class="fa fa-amazon"></i> Order Destiny 2: Forsaken
          </a>
        </div>

        <div class="info">          
          <mat-card *ngFor="let ms of publicMilestones">
            <mat-card-header>

              <div *ngIf="ms.icon!=null" mat-card-avatar class="transparent-icon" [style.background-image]="'url(//www.bungie.net' +  ms.icon  + ')'"></div>
              <mat-card-title>{{ms.name}} <ng-container *ngIf="ms.summary!=null">: {{ms.summary}}</ng-container> <span class="accent-text" *ngIf="ms.rewards!=null">&emsp;{{ms.rewards}}</span><span *ngIf="debugmode"> {{ms.hash}}</span></mat-card-title>
              <mat-card-subtitle>
                <span class="d-none d-md-inline">{{ms.desc}}</span> Resets {{ms.end|date:'short'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content *ngIf="ms.summary==null">
              

              <ng-container *ngFor="let aggAct of ms.aggActivities; last as isLastAct">
                <h3>
                  {{aggAct.activity.name}} 
                  <span *ngFor="let ll of aggAct.lls; last as isLast">{{ll}}
                    <ng-container *ngIf="!isLast"> - </ng-container>
                  </span>
                  <span *ngIf="debugmode"> {{aggAct.activity.hash}}</span>
                </h3>
                <p class="caption" *ngFor="let ch of aggAct.activity.challenges">
                  {{ch.name}} - {{ch.desc}} Requires: {{ch.completionValue}} {{ch.progressDescription}}
                </p>
                <ng-container *ngIf="aggAct.activity.modifiers!=null && aggAct.activity.modifiers.length>0">
                    <h4 class="lighter">Modifiers</h4>
                    <dl>
                        <ng-container *ngFor="let m of aggAct.activity.modifiers">
                          <dt class="lighter">{{m.name}}</dt>
                          <dd>
                            {{m.desc}}
                          </dd>
                        </ng-container>
                      </dl>
                </ng-container>
                <ng-container *ngIf="aggAct.activity.loadoutReqs!=null && aggAct.activity.loadoutReqs.length>0">
                  <h4 class="lighter">Loadout Requirements</h4>
                  <dl>

                    <ng-container *ngFor="let lreq of aggAct.activity.loadoutReqs">
                      <dt class="lighter">{{lreq.equipmentSlot}}</dt>
                      <dd>
                        <span *ngFor="let i of lreq.allowedEquippedItems">{{i}} </span>
                        <span *ngFor="let i of lreq.allowedWeaponSubTypes">{{i}} </span>
                      </dd>
                    </ng-container>
                  </dl>
                </ng-container>
                <hr class="divider" *ngIf="!isLastAct">
              </ng-container>
            </mat-card-content>
          </mat-card>

          <!-- <mat-card>
            <mat-card-header>
              <mat-card-title><h2>Site news</h2></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h4>New features</h4>
              <ul>
                <li>Clan leaderboards</li>
                <li>Improved access to character activity</li>
                <li><a href="http://www.d2checklist.com/leaderboard/leviathan">Raid leaderboard!</a></li>
                <li><span class="warn-text">Note: There are problems with reporting weekly raid completions from Bungie. I've worked around this on the individual player page, but the clan page may report incorrectly.</span></li>
                <li><a href="https://www.d2checklist.com/2/sc_Slayerage">Improved checklist and progressions</a></li>
                <li><a href="https://www.d2checklist.com/search">Search Bungie users with wildcards</a></li>
                <li>View activity history. Click the link for a character from <a href="http://www.d2checklist.com/2/sc_slayerage/chars">the char tab</a></li>
                <li>View your clan's progress and info. Sign in and click "My Clan". <a href="https://www.d2checklist.com/clan/1985678">Here's my clan, for example.</a></li>
                <li>View currencies for current on account, including legendary shards. Sign in and view menu on top right.</li>
              </ul>
            </mat-card-content>
          </mat-card> -->

        </div>

      </div>
    </div>
    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>

  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>