@import 'styles-variables';

:host {
  
}

// .mat-select{
//       margin-top: -7px;
//  }
  
 .ll{
   float: right;
 }

 .lighter{
   opacity: .6;
 }
 
.modifier-chip{
  padding: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.info{
  text-align: left; 
  max-width: 700px;
  margin-right: 10px;
  margin-left: 10px;
}

.preorder{
  text-align: center; 
  max-width: 700px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  margin-top: 5px;
}

.mat-card{
  margin-bottom: 20px;
}

.nf-card-avatar {
  width: 106.6666666666667px;
  height: 60px;
  flex-shrink: 0;
  background-size: cover;
  border-radius: 0%;
}

.activity-icon{
  height: 32px;
  width: 32px;
  border-radius: 25%;
  background-size: cover;
  display: inline-block;
}

dl{
  margin-left: 20px;
}

.body-text {
  margin: 10px auto 0 auto;
  padding-bottom: 10px;
  font-size: 0.9em;
  letter-spacing: .01px;
  overflow-wrap: break-word;
  z-index: 1;
}

.searchField{
  margin-bottom: 10px;
}

.searchPlatform{
  min-width: 235px;
  margin-right: 10px;
}

.searchGt{
  margin-right: 10px;
}


@media (max-width: map-get($grid-breakpoints, md)) {
  .body-text {
      width: auto;
    }
}

@media (max-width: map-get($grid-breakpoints, sm)) {


  .body-text {
    width: auto;
  }
}

.mat-chip{
  margin-bottom: 5px;
}