@import '~@angular/material/theming';

@mixin anms-styles-reset-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  // tool bar color overrides
  // .mat-toolbar {
  //   padding: 0px;
  // }

  // .mat-toolbar-row {
  //   padding-left: 16px;
  //   padding-right: 16px;
  //   //background: mat-color($background, app-bar);
  //   //color: mat-color($foreground, text);

  //   &.mat-default{
  //     background: mat-color($background, app-bar);
  //     color: mat-color($foreground, text);
  //   }

  //   &.mat-primary {
  //     @include _mat-toolbar-color($primary);
  //   }

  //   &.mat-accent {
  //     @include _mat-toolbar-color($accent);
  //   }

  //   &.mat-warn {
  //     @include _mat-toolbar-color($warn);
  //   }
  // }


  a {
    color: mat-color($foreground, text);

    &:hover {
      color: mat-color($accent);
    }
  }

  .divider {
    border-color: mat-color($foreground, divider);
    border-top-style: solid;
    border-bottom-style: none;

  }

  code {
    color: mat-color($accent, lighter-contrast);
    background-color: mat-color($accent, lighter);
  }

  .primary-bg-text{
    color: mat-color($primary, default-contrast);
    background-color: mat-color($primary);
  }

  
  .transparent-icon {
    
    // filter: invert(100%);
    background-size: cover;
    background-color: mat-color($primary);
    opacity: 0.90;
    // background-blend-mode: color-burn;
  }


  .accent-bg-text{
    color: mat-color($accent, default-contrast);
    background-color: mat-color($accent);
  }

  .warn-bg-text{
    color: mat-color($warn, default-contrast);
    background-color: mat-color($warn);
  }

  .accent-text{
    color: mat-color($accent, 700);
  }
  
  .warn-text{
    color: mat-color($warn);
  }
  
  .primary-text{
    color: mat-color($primary);
  }

  .secondary-text{
    color: mat-color($foreground, secondary-text);
  }

  .simple-caption{
    font-size: 1.5em;
    margin: .5em 0 .75em;
    font-size: smaller;
    font-weight: lighter;
    color: mat-color($foreground, secondary-text);
  }

  .type-caption{
    font-size: smaller;
    color: mat-color($foreground, secondary-text);
  }
  

  table.responsive-table {
    border: 1px solid mat-color($background, disabled-list-option);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1250px;
    table-layout: fixed;
    & caption {
      font-size: 1.5em;
      margin: .5em 0 .75em;
    }
    & tr {
      background:  mat-color($background, card);
      border: 1px solid mat-color($background, unselected-chip);
      
      padding: .35em;
    }
    & td {
      padding: .625em;
      text-align: center;
    }
    & td.lead {
      padding: .625em;
      text-align: left;
      font-weight: bold;

      & .caption {
        float: right;
        font-size: smaller;
        font-weight: lighter;
        color: mat-color($foreground, secondary-text);
      }
    }
    & th {
      padding: .625em;
      text-align: center;
      font-size: .85em;
      letter-spacing: .1em;
      color: mat-color($foreground, secondary-text);
      //text-transform: uppercase;
    }
  }
  


  @media screen and (max-width: 800px) {
    .mat-tab-label{
        min-width:100px
    }
  }
  
  @media screen and (max-width: 650px) {
    .mat-tab-label{
        min-width:50px
    }
  }
  
  @media screen and (max-width: 600px) {
    table.responsive-table {
      border: 0;
      & caption {
        font-size: 1.3em;
      }
      & thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      & tfoot {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      & tr {
        border-bottom: 3px solid mat-color($background, status-bar);
        display: block;
        margin-bottom: .625em;
      }
      & td {
        border-bottom: 1px solid mat-color($background, status-bar);
        display: block;
        font-size: .8em;
        text-align: right;
      }
      & td.lead {
        font-weight: bold;
        border-bottom: 1px solid mat-color($background, status-bar);
        display: block;
        font-size: .8em;
        text-align: left;
      }
      & td:before {
        content: attr(data-label);
        float: left;
        //font-weight: bold;
        //text-transform: uppercase;
      }
      & td:last-child {
        border-bottom: 0;
      }
    } 
  }
  

  table.tidy-table {
    border: 1px solid mat-color($background, disabled-list-option);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1250px;
    table-layout: fixed;
    & caption {
      font-size: 1.5em;
      margin: .5em 0 .75em;
    }
    & tr {
      background:  mat-color($background, card);
      border: 1px solid mat-color($background, unselected-chip);
      
      padding: .35em;
    }
    & td {
      padding: .625em;
      text-align: left;
    }
    & td.lead {
      padding: .625em;
      text-align: left;
      font-weight: bold;

      & .caption {
        float: right;
        font-size: smaller;
        font-weight: lighter;
        color: mat-color($foreground, secondary-text);
      }
    }
    & th {
      padding: .625em;
      text-align: left;
      font-size: .85em;
      letter-spacing: .1em;
      color: mat-color($foreground, secondary-text);
    }
  }

  table.checklist-table {
    border: 1px solid mat-color($background, disabled-list-option);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    // width: 100%;
    max-width: 750px;
    table-layout: fixed;
    & caption {
      font-size: 1.5em;
      margin: .5em 0 .75em;
    }
    & tr {
      background:  mat-color($background, card);
      border: 1px solid mat-color($background, unselected-chip);
      
      padding: .35em;
    }
    & td {
      padding: .625em;
      text-align: left;
    }
    & td.lead {
      padding: .625em;
      text-align: left;
      font-weight: bold;

      & .caption {
        float: right;
        font-size: smaller;
        font-weight: lighter;
        color: mat-color($foreground, secondary-text);
      }
    }
    & th {
      padding: .625em;
      text-align: left;
      font-size: .85em;
      letter-spacing: .1em;
      color: mat-color($foreground, secondary-text);
    }
  }
  
  @media screen and (max-width: 600px) {
    table.checklist-table {
      width: 100%;
    }
  }

  

}

